Auction/WPFDatabinding/C#/WpfEfSampleApp/Service References/RealAuctionServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MyWCFServices/RealAuctionService/AuctionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" />
  <xs:element name="GetUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetUserItemResult" nillable="true" type="q1:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetAuctionItemResult" nillable="true" type="q2:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="userItem" nillable="true" type="q3:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuctionItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="auctionItem" nillable="true" type="q4:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAuctionItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetCategoryResult" nillable="true" type="q5:CategoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialFeature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialFeatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetSpecialFeatureResult" nillable="true" type="q6:SpecialFeatureItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsUserItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetPostsUserItemResult" nillable="true" type="q7:ArrayOfPostsUItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidsItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auctionItemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidsItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetBidsItemResult" nillable="true" type="q8:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPostUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="postsUItem" nillable="true" type="q9:PostsUItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPostUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPostUserItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBidsItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="bidItem" nillable="true" type="q10:Bid" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="auctionItem" nillable="true" type="q11:AuctionItem" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="userItem" nillable="true" type="q12:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBidsItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBidsItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetCurrentBidResult" nillable="true" type="q13:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDealItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="dealsItem" nillable="true" type="q14:DealsItem" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="bidItem" nillable="true" type="q15:Bid" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="auctionItem" nillable="true" type="q16:AuctionItem" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="userItem" nillable="true" type="q17:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDealItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteDealItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserItemJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="a" nillable="true" type="q18:AuctionItem" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="u" nillable="true" type="q19:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserItemJoinedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserItemJoinedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeavedAuctionNavigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="u" nillable="true" type="q20:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeavedAuctionNavigationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshAuctionItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshAuctionItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshBidItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshBidItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPostsUItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPostsUItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshBidItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshBidItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>