Auction/RealAuctionApp/WPFAuctionApp/Service References/RealAuctionServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Design_Time_Addresses/MyWCFServices/RealAuctionService/AuctionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" />
  <xs:element name="GetUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetUserItemResult" nillable="true" type="q1:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="GetAuctionItemResult" nillable="true" type="q2:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="userItem" nillable="true" type="q3:UserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuctionItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyWCFServices.RealAuctionService" minOccurs="0" name="auctionItem" nillable="true" type="q4:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAuctionItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>